<link rel="stylesheet" href="//at.alicdn.com/t/c/font_2385137_b8qygb2jne.css?v={$site.version|htmlentities}">
<link rel="stylesheet" href="__CDN__/assets/addons/shopro/css/index.css?v={$site.version|htmlentities}">
{if condition="$DARK_TYPE neq 'none'" }
<link rel="stylesheet" href="__CDN__/assets/addons/shopro/css/dark.css?v={$site.version|htmlentities}" data-render="darktheme" />
{/if}
<link rel="stylesheet" href="__CDN__/assets/addons/shopro/libs/element-plus/index.css?v={$site.version|htmlentities}">

<script src="__CDN__/assets/addons/shopro/libs/vue.js?v={$site.version|htmlentities}"></script>
<script src="__CDN__/assets/addons/shopro/libs/element-plus/index.js?v={$site.version|htmlentities}"></script>
<script src="__CDN__/assets/addons/shopro/libs/element-plus/zh-cn.js?v={$site.version|htmlentities}"></script>
<script src="__CDN__/assets/addons/shopro/libs/element-plus/icons-vue.js?v={$site.version|htmlentities}"></script>

<script src="__CDN__/assets/addons/shopro/libs/sortable.js?v={$site.version|htmlentities}"></script>
<script src="__CDN__/assets/addons/shopro/libs/vuedraggable.js?v={$site.version|htmlentities}"></script>

<script src="__CDN__/assets/addons/shopro/libs/common.js?v={$site.version|htmlentities}"></script>

<script src="__CDN__/assets/addons/shopro/libs/clipboard.min.js?v={$site.version|htmlentities}"></script>

<script src="__CDN__/assets/addons/shopro/components/sa-image.js?v={$site.version|htmlentities}"></script>
<script src="__CDN__/assets/addons/shopro/components/sa-uploader.js?v={$site.version|htmlentities}"></script>
<script src="__CDN__/assets/addons/shopro/components/sa-user-profile.js?v={$site.version|htmlentities}"></script>
<script src="__CDN__/assets/addons/shopro/components/sa-filter.js?v={$site.version|htmlentities}"></script>
<script src="__CDN__/assets/addons/shopro/components/sa-filter-condition.js?v={$site.version|htmlentities}"></script>
<script src="__CDN__/assets/addons/shopro/components/sa-pagination.js?v={$site.version|htmlentities}"></script>