{include file="/shopro/common/script" /}

<div id="addLog" class="aftersale-add-log" v-cloak>
    <el-container class="panel-block">
        <el-main>
            <el-scrollbar height="100%">
                <el-form :model="form.model" :rules="form.rules" ref="formRef" label-width="100px">
                    <el-form-item label="回复内容" prop="content">
                        <el-input type="textarea" v-model="form.model.content" placeholder="请输入"></el-input>
                    </el-form-item>
                    <el-form-item label="选择图片">
                        <sa-uploader v-model="form.model.images" :multiple="true" max="9">
                        </sa-uploader>
                    </el-form-item>
                </el-form>
            </el-scrollbar>
        </el-main>
        <el-footer class="sa-footer--submit sa-flex sa-row-right">
            <el-button type="primary" @click="onConfirm">确定</el-button>
        </el-footer>
    </el-container>
</div>