<form id="editinfo-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="input-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control editor" rows="5" name="textareacallback" cols="50" id="textareacallback"></textarea>
        </div>
        <span class="input-group-btn"><a href="javascript:;" class="btn btn-success btn-callback" >回传数据</a></span>
    </div>
</form>