<link rel="stylesheet" href="__CDN__/assets/addons/mobilediy/plugins/element-ui/index.css?v=2.15.6">
<link rel="stylesheet" href="__CDN__/assets/addons/mobilediy/css/mobilediy.css">

<div id="mobilediy" class="mobilediy">
    {include file="mobilediy/index/left" /}
    {include file="mobilediy/index/phone" /}
    {include file="mobilediy/index/right" /}
    {include file="mobilediy/index/selecturldialog" /}
</div>

<!-- 引入组件库 -->
<script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="__CDN__/assets/addons/mobilediy/plugins/vue/vue.min.js?v=2.6.14"></script>
<script src="__CDN__/assets/libs/Sortable/Sortable.min.js?v=1.1.40"></script>
<script src="__CDN__/assets/addons/mobilediy/plugins/element-ui/index.js?v=2.15.6"></script>
<script src="__CDN__/assets/addons/mobilediy/plugins/vuedraggable/vuedraggable.min.js"></script>

<script>
    var data = {$jsonData};
    var defaultdata = {$defaultData};
</script>
